# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

*.autosave

# Binary
*/bin/*
*/lib/*

# Intermediate files of compiler
*.i
*.ii
*.o
obj

*.cudafe*
*.fatbin
*.fatbin.*
*.hash
*.module_id
*.ptx
*.cubin
moc_*
qrc_*

# cmake intermediate files
cmake_install.cmake
CMakeCache.txt
CMakeFiles
Makefile
*/src/cuda/*
*.qrc.depends

